/* .....header..... */
.header{
    background-color: white;
    z-index: 2;
}
.top-bar{
    background-color:lightsteelblue;
    padding: 10px;
    /* width: 100%; */
}
.topbar-left-text a{
    color:black ;
    font-size: 25px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.topbar-icons{
    float: right;
    margin-top: 10px;
}
.topbar-right-icons .topbar-icons li {
    list-style: none;
    color: white;
    float: left;
    border-right: 1px solid #fff;

}
.topbar-right-icons .topbar-icons li:last-child {
    border: none;
}
.topbar-right-icons .topbar-icons li a{
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    margin: 0;
}
.topbar-right-icons .topbar-icons li a i{
    font-size: 25px;
}
.topbar-icons .btn{
    color: white;
   margin-left:10px ;
   text-align: center;
   color:black;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  
}
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ display: block;  }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}   
/* .....navbar.... */
.second-content{
    background-color: whitesmoke;
}
.nav-item{
    margin-right: 10px;
}
.nav-item a{
    font-size: 16px;
    font-weight: bold;
    color:black;
}
.nav-item:hover{
    background-color: whitesmoke
}
/* ...footer..... */
.footer{
    margin-top: 10px;
    background-color:whitesmoke;
    border-top: 2px solid lightsteelblue;
    font-family: 'Nunito Sans', sans-serif;
}
.footer-contents{
    margin-top: 10px;
}
.footer-title{
    font-weight: bold;
}
.footer-about-desc {
    font-size: 15px;
}
.footer-services {
    list-style: none;
    padding: 0;
}
.footer-services a:hover{
    color: lightskyblue;
}
.footer-services a{ 
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
.footer-contents .icon i{
    padding: 10px;
    font-size: 20px;
    color: black;
    transition: 0.5s;
}
.footer-contents .icon i:hover{
    color: lightskyblue;
}
.copyright-contents{
    text-align: center;
    margin-top: 10px;
}



/* .....carousel..... */
.carousel-section{
    margin-top: 10px;
    border: 1px solid #ebebeb;

}
.carousel-item{
    width: 100%;
    height: 500px;
   
}

.carousel_img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: relative;
}
.carousel-text {
    position: absolute;
    font-weight: bold;
    z-index: 1;
    top:50%;
    transform: translateY(-50%);
    left: 50%;
}
.carousel-text p{
    font-size: 20px;
    color: blanchedalmond;
    text-transform: uppercase;
}

/* ...services..... */
.services{
    margin-top: 10px;
   
    /* border: 1px solid #4E6B31; */
}
.services .card-header{
    font-size: 25px;
}
.body-first-row{
    margin-bottom: 10px;
}
.service-detail{
    width: 100%;
    /* background-color: #B0C4DE; */
    transition: 0.5s;
}
.service-detail img{
    object-fit:cover;
    width: 100%;
    transition: 0.8s;
    margin-top: 13px;
}
.service-detail:hover{
    transform: scale(1.1);
}
.service-detail a{
    font-size: 14px;
    color:black;
    text-align: center;
    padding-top: 10px ;
    text-align: justify;
    margin-bottom: 20px;
    text-decoration: none;
}

   

/* ...why-us.... */
.why-us{
    margin-top: 15px;
}
.why-us-title{
    text-align: center;
}
.why-us-title h4{
    font-size: 25px;
    font-weight: bold;
}
.first-reason{
    height:200px;
    width: 100%;
    overflow: hidden;
    border: 1px solid darkcyan;
    margin-top:15px;
}
.first-reason img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
/* .....review.... */
.review-section{
margin-top:50px;
}
.review-title{
    text-align: center;
    margin-bottom: 20px;
}
.review-title h4{
    font-size: 25px;
    font-weight: bold;
}
.review-images{
    height: 250px;
    width: 100%;

}
.review-images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.review-content{
    position: absolute;
    font-weight: bold;
    z-index: 1;
    top:50%;
    transform: translateY(-50%);
    left: 25%;
    width: 50%;
    font-family: 'Pushster', cursive;

}
.review-content p{
    font-size: 20px;
}
.blockquote-footer{
    color: black;
}


/* ....subscription....*/
.subscription-section{
    margin-top: 30px;
}
.subscribe-title{
    text-align: center;
}
.subscribe-title h4{
    font-weight: bold;
    font-size: 25px;
}
.subscription-section .form-group{
    padding: 0;
    margin-top: 10px;
    text-align: center;
}
.subscription-section .form-group input{
    text-align: center;
}
.subs-button{
    text-align: center;
    margin-bottom: 30px;
}
.subs-button .btn{
    width: 140px;
}

/* ....top-img.... */
.top-content{
    background-color: whitesmoke;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}
.top-headings{
   text-align: center;
}
.top-headings h5{
    font-size: 30px;
    font-weight: bold;
    
}
ul.breadcrumb{
    background-color:white;
    text-align: center;
   
}
/* .....about...... */
.middle-image{
    height: 455px;
    width: 100%;
    overflow: hidden;

}
.middle-image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.middle-text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.last-content{
    font-family:'Times New Roman', Times, serif; 
    font-size: 20px;
    margin-top: 20px;
}



/* ....service-main-page.... */
.service-page{
    padding: 20px;
}
.service{
    border: 2px solid #ebebeb;
    padding: 20px 30px 30px 30px;
    transition: 1.5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 35px;
}
.service-img{
    height: 300px;
    width: 100%;
}
.service-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.service-page a{
    color: black;
    text-decoration: none;
}
.service:hover{
    transform:scale(1.01);
    border-color: lightslategray;
}
.service .btn{
    float: right;
}

.service-listing-heading{
    border-bottom: 1px solid #ebebeb;
}
.service-listing-heading h5{
    font-weight: 200;
    font-size: 25px;
    text-align: center;
}
.service-listing{
    margin-top: 20px;
}
.service-listing-image{
    height: 100px;
    width: 100%;
}
.service-listing-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.service-listing-desc{
    text-align: center;
    margin-top: 10px;
}
.service-listing-desc h6{
    font-size: 15px;
}

/* ....service-sub-page...... */
.service-images{
    height:300px;
    width: 100%;
}
.service-images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bottom-content{
    margin-top: 30px;
}
.service-title{
    font-family: 'Libre Baskerville', serif;
    margin-top: 20px;
}
.service-title h4{
    font-size: 25px;
    font-weight:200;
    letter-spacing: 2px;
}
.other-service-heading{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #ebebeb;
    font-family: 'Libre Baskerville', serif;
}
.other-service{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    transition: 1.5s;
}
.other-service:hover{
    transform: scale(1.1);
}
.other-service img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.other-service-desc{
    margin-top: 10px;
    font-family: 'Libre Baskerville', serif;
}
.other-service-desc a{
    text-decoration: none;
    color: black;
    
}
.other-service-desc a h5{
    font-size: 15px;
}
/* .other-service-desc p{
    font-size: 15px;
} */
.testing{
    margin-top:10px;
}
.testing-image{
    height: 400px;
    width: 100%;
}
.testing-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.testing-desc{
    margin-top: 20px;
}
.testing-title{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.testing-title h3{
    font-size: 25px;
}
.testing-content{
    font-family: 'Libre Baskerville', serif;
}
.testing-content p{
    font-size: 20px;
}
.otherservice-cards{
    margin-top: 40px;
}
.otherservice-title h3{
    text-align: center;
    font-size:30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.otherservice-content{
    margin-top: 20px;
}
.other{
    padding: 10px;
    /* box-shadow: 2px 2px 2px 2px #777; */
    transition: 1.4s;
}
.other:hover{
    color: coral;
}
.other-image{
    height: 150px;
    width: 100%;
}
.other-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.otherservice-content a{
    text-decoration: none;
    color: black;
}
.other-title{
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .....booking-form.. */
.booking-form{
    margin-top: 30px;
    border: 2px solid #ebebeb;
    box-shadow: 2px 2px 10px grey;
   border-radius: 11px;
}
.booking-form form{
    margin-bottom: 30px;
    padding: 10px 20px 10px 20px;
}
.booking-form-heading h3{
    font-size: 25px;
   
    text-align: center;
    margin-top: 20px;
}
.booking-form form label{
    font-size: 20px;
    font-weight: 400;
}
/* ...contact-us... */
.contact{
    margin-top: 30px;
}
.contact-info-section{
    border: 1px solid #ebebeb;
}
.contact-info-section form{
    padding: 10px;
}

.phone-no-icon{
    display: flex;
    padding: 30px 50px;
}
.phone-no-icon i{
    margin-right: 20px;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
.phone-no-icon a{
    text-decoration: none;
    color: black;
}
.follow-us{
    margin-top: 10px;
     padding: 30px 50px;

}
.follow-us-heading{
    font-size: 25px;
}
.follow-us .social-icons i{
    font-size: 25px;
    padding: 10px;
}
.follow-us .social-icons a{
    color: #666666;
    transition: 0.6s;

}
.follow-us .social-icons a:hover{
    color: lightgreen;
}
.form-control{
    margin-bottom: 30px;

}
.contact-info-section button{
     margin: 10px 30px 30px 30px;

    width: 200px;

}
.contact-info-section-heading h5{
    padding: 20px;
}

/* ...gallery.... */
.gallery {
    margin:20px;  
 }
.gallery img {
    width: 100%;
    height: auto;
    border-radius:2px; 
    box-shadow: 2px 2px 2px #c9c0c0;
  }
.gallery-carousel{
    margin: 20px;
}
.gallery-carousel .carousel-inner .carousel-item{
    height: 300px;
}
.gallery-carousel .carousel-inner img{
    height: 300px;
    object-fit: cover;
}

/* .......blog.... */
.blog-content{
    margin-top: 30px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.blog-content a{
    color: black;
    text-decoration: none;
}
.blog-posts:hover{
   border-color:#87cefa;
}
.blog-posts{
  height: 550px;
 border: 2px solid #ebebeb;
 margin-bottom: 30px;
 transition: 1.5s;
}

.post-image{
    height: 300px;
    width: 100%;
}
.post-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.post-desc{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title h4{
    font-size: 20px;
    font-weight: bold;
}
.sub-title{
    font-size: 15px;
    opacity: 0.5;
    display: flex;
    border-bottom: 2px solid #ebebeb;
    
}
.sub-title h6{
    margin-right: 10px;
    border-right: 1px solid #c9c0c0;
    margin-bottom: 20px;
    padding-right: 5px;
  
}
.sub-title span h6{
    border: none;
}
.desc p{
    font-size: 15px;
}
.read-more{
    float: right;
    margin-right: 10px;
}
.read-more a{
    color: black;
    text-decoration: none;
    transition: 1.5s;
}
.read-more a h6{
   font-size: 15px;
}
.read-more a i{
    margin-left: 3px;
}
.read-more a:hover{
    color:lightgreen;
}
.recent-post-contents{
    padding-left: 20px;
    font-family:sans-serif;
}
.main-title{
    font-weight: bold;   
    border-bottom: 2px solid #ebebeb;
}
.main-title h3{
    margin-bottom: 20px;
}
.blog-title{
    margin-top: 20px;
    border-bottom:1px solid #ebebeb;
}
.blog-title p{
    font-size: 15px;

}
.blog-title span p{
    opacity: 0.5;
}
.blog-title a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
.blog-title a:hover{
    color:lightgreen;
    transform: scale(1.5);
}
span .blog-title{
    border: none;
    margin-bottom: 50px;
}
.tags{
   margin-top: 20px;
}

.tag-names p{
    background-color: rgb(174, 209, 224);
    padding: 10px;
    margin-right: 20px;
    display: inline-block;
    border-radius: 5px;
}
/* .........ReadMore......... */
.readmore-contents{
    padding: 20px;
}
.readmore-image{
   
    height: 400px;
    width: 100%;

}
.readmore-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.readmore-detail{
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 20px;
}
.readmore-detail .title h4{
   font-size: 30px;
   font-weight: 300;
}
.readmore-desc{
    margin-top: 10px;
}
.readmore-desc :nth-child(2){
    margin-left: 40px;
}
.comment-section{
    display: flex;
    opacity: 0.5;
}
.posted-by{
    margin-right: 20px;
}
.liked i{
    margin-right: 20px;
}
.popular-post{
    margin-top: 50px;
    border: 1px solid #ebebeb;
    box-shadow: 3px 1px 8px 5px #f7f3f3;
}
.popular-post-title{
    border-bottom: 2px solid #ebebeb;
   
}
.popular-post-title h4{
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
}
.popular-post1{
    padding: 10px;
    display: flex;
}
.popular-image{
    height: 100px;
   width: 200px;
}
.popular-image img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.popular-desc{
    padding: 8px;
}
.popular-desc p{
    font-size: 15px;
}
.popular-desc :last-child{
    opacity: 0.5;
}
.readmore-social{
    margin-top: 20px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    padding:20px 0 20px 80px;
}
.social-heading h4{
    font-size: 25px;
    font-weight:200px;

}
.readmore-social-icons i{
    padding:10px 15px 10px 15px;
    font-size: 20px;
    background-color: rgb(123, 174, 250);
    border-radius: 50%;
    margin-left:30px;
    
}
